/* ==========================================================================
Fonts
========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i");
@font-face {
  font-family: Lovelo;
  src: url(../fonts/Lovelo-black.otf); }
/* ==========================================================================
General
========================================================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  margin: 0;
  font-size: 62.5%; }

body {
  margin: 0; }

h1, h2, h3, h4 {
  text-transform: uppercase; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  height: 100%; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

a {
  color: #8dbc1f; }

a:hover {
  text-decoration: none; }

b {
  font-family: "Source Sans Pro";
  font-weight: 600; }

.show {
  display: inline; }

.hidden {
  display: none !important; }

.transparent {
  visibility: hidden; }

.bg-black {
  background-color: #17232d !important; }

.btn {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: white !important;
  font-weight: 300;
  font-size: 2.1rem;
  line-height: 2.1rem;
  min-width: 200px;
  text-transform: uppercase;
  border-radius: 0 !important;
  padding: 10px 10px 10px 10px;
  margin: 15px 0 15px 0; }
  .btn.btn-psm {
    background-color: #34495e; }
    .btn.btn-psm:hover {
      background-color: #8dbc1f;
      cursor: pointer; }
    .btn.btn-psm:active {
      background-color: #8dbc1f; }
  .btn.btn-transparent {
    color: white;
    border: 1px solid white;
    background-color: transparent; }
    .btn.btn-transparent:hover {
      background-color: white;
      color: black !important;
      cursor: pointer; }
    .btn.btn-transparent:active {
      background-color: white;
      color: black; }

/* ==========================================================================
NAVIGATION
========================================================================== */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

#main-nav {
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out; }
  #main-nav .burger {
    z-index: 1031;
    position: fixed;
    right: 0;
    top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    @media (min-width: 992px) {
      #main-nav .burger {
        display: none; } }
    #main-nav .burger #sidebar-toggle {
      display: block;
      position: relative;
      padding: 20px;
      float: left;
      background-color: #34495e; }
      #main-nav .burger #sidebar-toggle span.bar {
        display: block;
        width: 30px;
        margin-bottom: 6px;
        height: 2px;
        background-color: #f0f0f0;
        border-radius: 1px; }
        #main-nav .burger #sidebar-toggle span.bar:last-child {
          margin-bottom: 0; }
  #main-nav #sidebar {
    position: fixed;
    z-index: 1029;
    right: -100vw;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #34495e;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    @media (min-width: 1px) and (max-width: 992px) {
      #main-nav #sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
    @media (min-width: 992px) {
      #main-nav #sidebar {
        right: 0;
        height: 100px;
        width: 100vw;
        background-color: #17232d;
        display: flex;
        justify-content: space-between; } }
    #main-nav #sidebar #logo-psm-nav {
      height: 100px;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
      #main-nav #sidebar #logo-psm-nav svg, #main-nav #sidebar #logo-psm-nav object, #main-nav #sidebar #logo-psm-nav img {
        padding: 5px;
        max-height: 100%;
        width: 100%; }
    @media (min-width: 992px) {
      #main-nav #sidebar.is-home {
        background-color: transparent; }
        #main-nav #sidebar.is-home.dark-menu {
          background-color: #17232d; }
        #main-nav #sidebar.is-home #logo-psm-nav {
          opacity: 0; } }
    #main-nav #sidebar.is-home #logo-psm-nav.show-logo {
      opacity: 1; }
      @media (min-width: 992px) {
        #main-nav #sidebar.is-home #logo-psm-nav.show-logo {
          opacity: 1; } }
    #main-nav #sidebar.open-sidebar {
      right: 0 !important; }
    #main-nav #sidebar ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
      @media (min-width: 1px) {
        #main-nav #sidebar ul {
          width: 100%;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0;
          padding: 0; } }
      @media (min-width: 992px) {
        #main-nav #sidebar ul {
          justify-content: space-around;
          flex-direction: row; } }
      @media (min-width: 1200px) {
        #main-nav #sidebar ul {
          width: 50vw; } }
      #main-nav #sidebar ul li {
        display: inline-block; }
        #main-nav #sidebar ul li a, #main-nav #sidebar ul li p {
          font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
          color: white;
          font-weight: normal;
          text-transform: uppercase;
          display: inline-block;
          width: 100%;
          text-align: center;
          list-style: none;
          margin: 0; }
          @media (min-width: 1px) {
            #main-nav #sidebar ul li a, #main-nav #sidebar ul li p {
              font-size: 2.5rem;
              line-height: 3.5rem; } }
          @media (min-width: 576px) {
            #main-nav #sidebar ul li a, #main-nav #sidebar ul li p {
              font-size: 2.5rem;
              line-height: 3.5rem; } }
          @media (min-width: 768px) {
            #main-nav #sidebar ul li a, #main-nav #sidebar ul li p {
              font-size: 3rem;
              line-height: 4rem; } }
          @media (min-width: 992px) {
            #main-nav #sidebar ul li a, #main-nav #sidebar ul li p {
              font-size: 1.8rem;
              line-height: 2.8rem; } }
          @media (min-width: 1200px) {
            #main-nav #sidebar ul li a, #main-nav #sidebar ul li p {
              font-size: 1.8rem;
              line-height: 2.8rem; } }
          #main-nav #sidebar ul li a.active, #main-nav #sidebar ul li a:hover, #main-nav #sidebar ul li p.active, #main-nav #sidebar ul li p:hover {
            color: #8dbc1f; }
        #main-nav #sidebar ul li i {
          color: white;
          text-align: center; }
          @media (min-width: 1px) {
            #main-nav #sidebar ul li i {
              font-size: 2rem;
              line-height: 2rem; } }
          @media (min-width: 576px) {
            #main-nav #sidebar ul li i {
              font-size: 2.5rem;
              line-height: 2.5rem; } }
          @media (min-width: 768px) {
            #main-nav #sidebar ul li i {
              font-size: 3rem;
              line-height: 3rem; } }
          @media (min-width: 992px) {
            #main-nav #sidebar ul li i {
              font-size: 1.8rem;
              line-height: 1.8rem; } }
          @media (min-width: 1200px) {
            #main-nav #sidebar ul li i {
              font-size: 1.8rem;
              line-height: 1.8rem; } }
        #main-nav #sidebar ul li:focus {
          color: #8dbc1f; }
        #main-nav #sidebar ul li:hover {
          cursor: pointer; }
          #main-nav #sidebar ul li:hover i {
            color: #8dbc1f; }
        @media (min-width: 992px) {
          #main-nav #sidebar ul li.dropdown {
            position: relative; } }
        #main-nav #sidebar ul li.dropdown p, #main-nav #sidebar ul li.dropdown p > i, #main-nav #sidebar ul li.dropdown i {
          display: none; }
          @media (min-width: 992px) {
            #main-nav #sidebar ul li.dropdown p, #main-nav #sidebar ul li.dropdown p > i, #main-nav #sidebar ul li.dropdown i {
              display: inline; } }
        #main-nav #sidebar ul li.dropdown .dropdown-content {
          background-color: #34495e; }
          @media (min-width: 992px) {
            #main-nav #sidebar ul li.dropdown .dropdown-content {
              transform: scaleY(0);
              transition: all 1s ease;
              opacity: 0;
              height: auto;
              top: 0;
              position: absolute;
              border: solid 1px white;
              right: 0;
              width: 200px; } }
          #main-nav #sidebar ul li.dropdown .dropdown-content a {
            padding: 2.5px 0 2.5px 0; }
        #main-nav #sidebar ul li.dropdown .open-dropdown {
          transform: scaleY(1);
          height: auto;
          opacity: 1;
          top: 59px;
          display: inline !important; }
    #main-nav #sidebar.dark-menu ul .dropdown .open-dropdown {
      border: none;
      background-color: #17232d; }

/* ==========================================================================
WELCOME PAGE - SECTION WELCOME
========================================================================== */
#welcome-section {
  background-image: url("../img/dept-mm.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  #welcome-section .filter::after {
    background-color: rgba(32, 49, 60, 0.8);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1; }
  #welcome-section .row {
    position: relative;
    z-index: 1;
    flex-direction: row; }
    @media (min-width: 1px) and (max-width: 768px) {
      #welcome-section .row {
        flex-direction: column-reverse; } }
  #welcome-section #welcome-left-collumn {
    height: 100vh; }
@media screen and (min-width: 1px) and (max-width: 768px) and (orientation: portrait) {
  #welcome-section #welcome-left-collumn {
    height: 60vh; } }

    #welcome-section #welcome-left-collumn #logo-welcome {
      display: none; }
      @media (min-width: 992px) {
        #welcome-section #welcome-left-collumn #logo-welcome {
          display: block; } }
      #welcome-section #welcome-left-collumn #logo-welcome svg, #welcome-section #welcome-left-collumn #logo-welcome object, #welcome-section #welcome-left-collumn #logo-welcome img {
        padding-bottom: 5%;
        width: 75%; }
    #welcome-section #welcome-left-collumn #svg-slider-texte {
      overflow: hidden; }
      #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container {
        text-align: left;
        color: #e8e8e8;
        display: flex; }
        #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container h3 {
          font-family: "Lovelo", Helvetica, Arial, sans-serif;
          color: #8dbc1f;
          font-weight: normal; }
          @media (min-width: 1px) {
            #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container h3 {
              font-size: 1.8rem;
              line-height: 1.8rem; } }
          @media (min-width: 576px) {
            #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container h3 {
              font-size: 1.8rem;
              line-height: 1.8rem; } }
          @media (min-width: 768px) {
            #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container h3 {
              font-size: 2.8rem;
              line-height: 2.8rem; } }
          @media (min-width: 992px) {
            #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container h3 {
              font-size: 2.8rem;
              line-height: 2.8rem; } }
          @media (min-width: 1200px) {
            #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container h3 {
              font-size: 3.6rem;
              line-height: 3.6rem; } }
        #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container p {
          font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
          color: #e8e8e8;
          font-weight: normal; }
          @media (min-width: 1px) {
            #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container p {
              font-size: 1.6rem;
              line-height: 1.6rem; } }
          @media (min-width: 576px) {
            #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container p {
              font-size: 1.8rem;
              line-height: 1.8rem; } }
          @media (min-width: 768px) {
            #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container p {
              font-size: 2.4rem;
              line-height: 2.4rem; } }
          @media (min-width: 992px) {
            #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container p {
              font-size: 2.4rem;
              line-height: 2.4rem; } }
          @media (min-width: 1200px) {
            #welcome-section #welcome-left-collumn #svg-slider-texte #text-slider-container p {
              font-size: 2.4rem;
              line-height: 2.4rem; } }
    #welcome-section #welcome-left-collumn ul#svg-slider-nav li {
      list-style: none; }
      #welcome-section #welcome-left-collumn ul#svg-slider-nav li:first-of-type i, #welcome-section #welcome-left-collumn ul#svg-slider-nav li:last-of-type i {
        font-size: 5rem; }
      #welcome-section #welcome-left-collumn ul#svg-slider-nav li i {
        font-family: "FontAwesome", Helvetica, Arial, sans-serif;
        color: #e8e8e8;
        font-weight: 700;
        transition-duration: 0.2s; }
        #welcome-section #welcome-left-collumn ul#svg-slider-nav li i.inactive {
          color: #8E8E8E; }
        #welcome-section #welcome-left-collumn ul#svg-slider-nav li i.inactive:hover {
          color: #8E8E8E;
          cursor: default; }
        #welcome-section #welcome-left-collumn ul#svg-slider-nav li i.selected {
          color: #8dbc1f; }
        #welcome-section #welcome-left-collumn ul#svg-slider-nav li i:hover {
          cursor: pointer;
          color: white; }
  #welcome-section #welcome-right-collumn {
    height: 100vh;
    background-color: rgba(52, 73, 94, 0.5);
    overflow: hidden; }
    @media (min-width: 1px) and (max-width: 768px) {
      #welcome-section #welcome-right-collumn {
        /* Portrait */ } }
  @media screen and (min-width: 1px) and (max-width: 768px) and (orientation: portrait) {
    #welcome-section #welcome-right-collumn {
      height: 40vh; } }

    #welcome-section #welcome-right-collumn #animations_home {
      display: flex;
      height: 100%; }
      #welcome-section #welcome-right-collumn #animations_home .svg-container svg, #welcome-section #welcome-right-collumn #animations_home .svg-container object, #welcome-section #welcome-right-collumn #animations_home .svg-container img {
        width: 100%;
        max-height: 100%; }
        @media (min-width: 1px) and (max-width: 1200px) and (orientation: landscape) {
          #welcome-section #welcome-right-collumn #animations_home .svg-container svg, #welcome-section #welcome-right-collumn #animations_home .svg-container object, #welcome-section #welcome-right-collumn #animations_home .svg-container img {
            margin-top: 100px;
            height: 60%; } }

/* ==========================================================================
WELCOME PAGE - SECTION PRESENTATION
========================================================================== */
#presentation-section {
  overflow: hidden;
  width: 100%;
  background-color: #34495e; }
  #presentation-section .row {
    position: relative;
    z-index: 1; }
  @media (min-width: 1px) and (max-width: 768px) {
    #presentation-section {
      min-height: 100vh; } }
  @media (min-width: 768px) {
    #presentation-section {
      height: 100vh; } }
  #presentation-section #presentation-content {
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: #e8e8e8; }
    @media (min-width: 1px) and (max-width: 768px) {
      #presentation-section #presentation-content {
        padding: 30px 0 30px 0;
        min-height: 100vh; } }
    @media (min-width: 768px) {
      #presentation-section #presentation-content {
        flex-direction: row;
        height: 75vh; } }
    @media (min-width: 1200px) {
      #presentation-section #presentation-content {
        height: 50vh; } }
    @media (min-width: 768px) {
      #presentation-section #presentation-content #presentation-picture svg, #presentation-section #presentation-content #presentation-picture object, #presentation-section #presentation-content #presentation-picture img {
        height: 100%;
        width: 300%;
        position: absolute;
        margin: auto;
        left: -150%;
        top: 0;
        bottom: 0; } }
    @media (min-width: 1px) and (max-width: 768px) {
      #presentation-section #presentation-content #presentation-text {
        justify-content: center !important;
        align-items: center !important; } }
    #presentation-section #presentation-content #presentation-text h2 {
      padding-top: 30px;
      font-family: "Lovelo", Helvetica, Arial, sans-serif;
      color: #8dbc1f;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 2.4rem; }
    #presentation-section #presentation-content #presentation-text p {
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      color: black;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 2.6rem; }
  #presentation-section .losange {
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    transform: rotate(-45deg); }
    #presentation-section .losange:nth-of-type(1) {
      z-index: -1;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 200px;
      width: 200px;
      background-color: #8dbc1f; }
    #presentation-section .losange:nth-of-type(2) {
      z-index: -3;
      top: 80%;
      left: 5%;
      height: 300px;
      width: 300px;
      background-color: #17232d; }
    #presentation-section .losange:nth-of-type(3) {
      z-index: -2;
      top: 20%;
      left: 20%;
      height: 150px;
      width: 150px;
      background-color: #8dbc1f; }
    #presentation-section .losange:nth-of-type(4) {
      z-index: -4;
      bottom: 110%;
      right: 2%;
      height: 150px;
      width: 150px;
      background-color: #17232d; }

/* ==========================================================================
WELCOME PAGE - SECTION FORMATIONS
========================================================================== */
#formations-section {
  height: 100vh; }
  @media (min-width: 1px) and (max-width: 1200px) and (orientation: landscape) {
    #formations-section {
      height: 300vh !important; } }
  #formations-section .formations {
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center; }
    @media (min-width: 1px) {
      #formations-section .formations {
        flex-direction: column; } }
    @media (min-width: 768px) {
      #formations-section .formations {
        flex-direction: row; } }
    @media (min-width: 1px) and (max-width: 1200px) and (orientation: landscape) {
      #formations-section .formations {
        flex-direction: column !important; } }
    #formations-section .formations .formation {
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #ccc;
      min-width: 10%;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      #formations-section .formations .formation:nth-child(1) {
        background-image: url("../img/1.jpg");
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        position: relative;
        z-index: 1; }
        #formations-section .formations .formation:nth-child(1) .filter::after {
          background-color: rgba(52, 73, 94, 0.8);
          content: "";
          display: block;
          height: 100%;
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
          z-index: 1; }
      #formations-section .formations .formation:nth-child(2) {
        background-image: url("../img/2.jpg");
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        position: relative;
        z-index: 1; }
        #formations-section .formations .formation:nth-child(2) .filter::after {
          background-color: rgba(32, 49, 60, 0.8);
          content: "";
          display: block;
          height: 100%;
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
          z-index: 1; }
      #formations-section .formations .formation:nth-child(3) {
        background-image: url("../img/1.jpg");
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        position: relative;
        z-index: 1; }
        #formations-section .formations .formation:nth-child(3) .filter::after {
          background-color: rgba(141, 188, 31, 0.8);
          content: "";
          display: block;
          height: 100%;
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
          z-index: 1; }
      @media (min-width: 992px) {
        #formations-section .formations .formation:hover {
          -webkit-box-flex: 2;
          -ms-flex-positive: 2;
          flex-grow: 3; }
          #formations-section .formations .formation:hover .filter::after {
            background-color: transparent; } }
      #formations-section .formations .formation .filter.activeScroll:after {
        background-color: transparent; }
      #formations-section .formations .formation .filter:after {
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      #formations-section .formations .formation h2, #formations-section .formations .formation h2 > span.writing-letter > span {
        position: relative;
        z-index: 1;
        font-family: "Lovelo", Helvetica, Arial, sans-serif;
        color: white !important;
        font-weight: normal;
        font-size: 5rem;
        line-height: 5rem; }
        #formations-section .formations .formation h2 span.writing-letter > span, #formations-section .formations .formation h2 > span.writing-letter > span span.writing-letter > span {
          display: inline-block; }

/* ==========================================================================
WELCOME PAGE - SECTION PROJECTS
========================================================================== */
#projects-section {
  width: 100%;
  background-color: #17232d;
  overflow: hidden; }
  #projects-section .row {
    position: relative;
    z-index: 1; }
    @media (min-width: 1px) and (max-width: 768px) {
      #projects-section .row {
        display: flex;
        flex-direction: column-reverse; } }
  @media (min-width: 1px) and (max-width: 768px) {
    #projects-section {
      min-height: 100vh; } }
  @media (min-width: 768px) {
    #projects-section {
      height: 100vh; } }
  #projects-section #projects-content {
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: #e8e8e8; }
    @media (min-width: 1px) and (max-width: 768px) {
      #projects-section #projects-content {
        padding: 30px 0 30px 0;
        min-height: 100vh; } }
    @media (min-width: 768px) {
      #projects-section #projects-content {
        min-height: 75vh;
        max-height: 90vh;
        flex-direction: row; } }
    @media (min-width: 1200px) {
      #projects-section #projects-content {
        min-height: 50vh;
        height: 50vh; } }
    @media (min-width: 768px) {
      #projects-section #projects-content #projects-picture svg, #projects-section #projects-content #projects-picture object, #projects-section #projects-content #projects-picture img {
        height: 100%;
        width: 300%;
        position: absolute;
        margin: auto;
        right: -150%;
        top: 0;
        bottom: 0; } }
    @media (min-width: 1px) {
      #projects-section #projects-content #projects-text {
        justify-content: center !important;
        align-items: center !important; } }
    @media (min-width: 768px) {
      #projects-section #projects-content #projects-text {
        align-items: flex-start !important; } }
    #projects-section #projects-content #projects-text h2 {
      padding-top: 30px;
      font-family: "Lovelo", Helvetica, Arial, sans-serif;
      color: #8dbc1f;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 2.4rem; }
    #projects-section #projects-content #projects-text p {
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      color: black;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 2.6rem; }
      @media (min-width: 768px) {
        #projects-section #projects-content #projects-text p {
          text-align: left; } }
    @media (max-width: 576px) {
      #projects-section #projects-content #projects-text .btns-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
    @media (min-width: 576px) {
      #projects-section #projects-content #projects-text .btns-box a.btn:first-of-type {
        margin-right: 30px !important; } }
  @media (min-width: 1px) and (max-width: 768px) {
    #projects-section div.col-md-2 {
      display: none; } }
  #projects-section .losange {
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    transform: rotate(-45deg); }
    #projects-section .losange:nth-of-type(1) {
      z-index: -1;
      top: 29%;
      left: 43%;
      height: 30vw;
      width: 30vw;
      background-color: #34495e; }
    #projects-section .losange:nth-of-type(2) {
      z-index: -2;
      top: 15%;
      right: 11%;
      height: 20vw;
      width: 20vw;
      background-color: #8dbc1f; }
    #projects-section .losange:nth-of-type(3) {
      z-index: -3;
      bottom: 80%;
      right: 29%;
      height: 10vw;
      width: 10vw;
      background-color: #8dbc1f; }

/* ==========================================================================
WELCOME PAGE - SECTION NEWS
========================================================================== */
#news-section {
  background-color: #e8e8e8; }
  #news-section .thumbnail {
    position: relative;
    width: 100%;
    height: 33vh;
    overflow: hidden;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    @media (min-width: 1px) and (max-width: 1200px) and (orientation: landscape) {
      #news-section .thumbnail {
        height: 60vh !important; } }
    #news-section .thumbnail .line {
      position: absolute;
      z-index: 2;
      bottom: 0;
      width: 0px;
      height: 5px;
      background-color: #8dbc1f;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #news-section .thumbnail figure {
      position: relative;
      margin: 0 !important;
      padding: 0 !important; }
    #news-section .thumbnail img {
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: 100%;
      height: auto;
      min-height: 100%; }
    #news-section .thumbnail.active::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg); }
    #news-section .thumbnail.active::before {
      -webkit-animation: shine .75s;
      animation: shine .75s; }
    #news-section .thumbnail.active img {
      width: 110%; }
    #news-section .thumbnail.active .line {
      width: 100%;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      position: absolute; }
  #news-section .text-news-container {
    height: 33vh;
    padding: 30px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 1px) and (max-width: 1200px) and (orientation: landscape) {
      #news-section .text-news-container {
        height: 60vh !important; } }
    #news-section .text-news-container h3 {
      font-family: "Lovelo", Helvetica, Arial, sans-serif;
      color: black;
      font-weight: normal;
      font-size: 2.4rem;
      line-height: 2.4rem; }
    #news-section .text-news-container p.date {
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      color: black;
      font-weight: 300;
      font-style: italic;
      font-size: 1.6rem;
      line-height: 1.6rem; }
    #news-section .text-news-container p.excerpt {
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      color: black;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 1.6rem; }
  #news-section .see-all-news {
    height: 33vh; }

/* ==========================================================================
WELCOME PAGE - SECTION PRESENTATION
========================================================================== */
#professional-section {
  overflow: hidden;
  width: 100%;
  background-color: #34495e; }
  #professional-section .row {
    position: relative;
    z-index: 1; }
  @media (min-width: 1px) and (max-width: 768px) {
    #professional-section {
      min-height: 100vh; } }
  @media (min-width: 768px) {
    #professional-section {
      height: 100vh; } }
  #professional-section #professional-content {
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: #e8e8e8; }
    @media (min-width: 1px) and (max-width: 768px) {
      #professional-section #professional-content {
        padding: 30px 0 30px 0;
        min-height: 100vh; } }
    @media (min-width: 768px) {
      #professional-section #professional-content {
        flex-direction: row;
        height: 75vh; } }
    @media (min-width: 1200px) {
      #professional-section #professional-content {
        height: 50vh; } }
    @media (min-width: 768px) {
      #professional-section #professional-content #professional-picture svg, #professional-section #professional-content #professional-picture object, #professional-section #professional-content #professional-picture img {
        height: 100%;
        width: 300%;
        position: absolute;
        margin: auto;
        left: -150%;
        top: 0;
        bottom: 0; } }
    @media (min-width: 1px) and (max-width: 768px) {
      #professional-section #professional-content #professional-text {
        justify-content: center !important;
        align-items: center !important; } }
    #professional-section #professional-content #professional-text h2 {
      padding-top: 30px;
      font-family: "Lovelo", Helvetica, Arial, sans-serif;
      color: #8dbc1f;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 2.4rem; }
    #professional-section #professional-content #professional-text p {
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      color: black;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 2.6rem; }
  #professional-section .losange {
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
    transform: rotate(-45deg); }
    #professional-section .losange:nth-of-type(1) {
      z-index: -1;
      top: 20%;
      left: 18%;
      height: 30vw;
      width: 30vw;
      background-color: #17232d; }
    #professional-section .losange:nth-of-type(2) {
      z-index: -3;
      top: 40%;
      right: 11%;
      height: 20vw;
      width: 20vw;
      background-color: #17232d; }
    #professional-section .losange:nth-of-type(3) {
      z-index: -2;
      top: 5%;
      left: 15%;
      height: 10vw;
      width: 10vw;
      background-color: #8dbc1f; }

/* ==========================================================================
Page Formation
========================================================================== */
.programme {
  height: 100vh;
  margin-bottom: 60px !important; }
  .programme-header {
    height: 300px;
    background-color: #17232d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .programme-header h2 {
      color: white;
      font-size: 60px;
      font-weight: 600;
      padding: 20px; }
    .programme-header h3 {
      font-size: 30px;
      color: #8dbc1f; }
  .programme-content #losanges-formation {
    transform: rotate(-45deg);
    position: relative;
    margin-top: 100px;
    height: 200px;
    width: 200px; }
    .programme-content #losanges-formation .losange {
      box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      height: 100%;
      width: 100%;
      position: absolute;
      transition-duration: 0.5s;
      color: white;
      background-color: #34495e;
      line-height: 200px; }
    .programme-content #losanges-formation div.losange:nth-child(1) {
      top: -55%;
      left: 55%; }
    .programme-content #losanges-formation div.losange:nth-child(2) {
      top: 55%;
      left: 55%; }
    .programme-content #losanges-formation div.losange:nth-child(3) {
      top: 55%;
      left: -55%; }
    .programme-content #losanges-formation div.losange:nth-child(4) {
      top: -55%;
      left: -55%; }
    .programme-content #losanges-formation div.losange:hover {
      z-index: 100;
      cursor: pointer;
      background-color: #8dbc1f; }
    .programme-content #losanges-formation div.losange.active {
      z-index: 100;
      /*transform: scale(1.3);*/
      background-color: #8dbc1f; }
    .programme-content #losanges-formation .losange p {
      transform: rotate(45deg);
      display: block;
      text-align: center;
      transition: 0.5s ease; }
  .programme-content #accordion [data-toggle="collapse"] i:before {
    content: "\f077"; }
  .programme-content #accordion [data-toggle="collapse"].collapsed i:before {
    content: "\f078"; }

/* ==========================================================================
FOOTER
========================================================================== */
footer {
  padding: 30px 0 30px 0;
  background-color: #17232d; }
  @media (min-width: 1px) {
    footer {
      height: 150vh; } }
  @media (min-width: 576px) {
    footer {
      height: 100vh; } }
  @media (min-width: 768px) {
    footer {
      height: 75vh; } }
  @media (min-width: 992px) {
    footer {
      height: 50vh; } }
  footer div.col-12 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px; }
    footer div.col-12 p, footer div.col-12 a {
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      color: white;
      font-weight: normal;
      font-size: 2rem;
      line-height: 2rem; }
    footer div.col-12 .social-medias, footer div.col-12 .university-logos {
      display: flex;
      justify-content: space-between; }
      footer div.col-12 .social-medias i, footer div.col-12 .university-logos i {
        font-family: "FontAwesome", Helvetica, Arial, sans-serif;
        color: white;
        font-weight: normal;
        font-size: 4rem;
        line-height: 4rem; }
      footer div.col-12 .social-medias img, footer div.col-12 .university-logos img {
        align-self: center; }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }
@keyframes shine {
  100% {
    left: 125%; } }

/*# sourceMappingURL=main.css.map */
