//Import partials
@import 'partials/general';
@import 'partials/typography';
@import 'partials/variables';

//Import mixins
@import 'partials/mixin/mixin';

/* ==========================================================================
General
========================================================================== */
*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
   // background-color: #17232d;
    margin:0;
}

.row {
    margin-right: 0!important;
    margin-left: 0!important;
    height: 100%;
}

.no-padding{
    padding-left: 0!important;
    padding-right: 0!important;
}
a{
    color:$primaire-vert;
}

a:hover {
    text-decoration: none;
    //Todo: Define the hover colour
    //color:$primaire-vert;
}

.show {
    display: block !important;
}
.hidden {
    display: none !important;
}
.transparent {
    visibility: hidden;
}

.bg-black {
    background-color: $secondaire-noir!important;
}

.btn-psm {
    @include setup-font($sourceSansPro, white!important, 300);
    @include responsive-font(2.1rem, 2.1rem,2.1rem,2.1rem,2.1rem);
    min-width: 200px;
    text-transform: capitalize;
    border-radius: 0!important;
    padding: 5px 0 5px 0;
    background-color: $secondaire-bleu;
    &:hover{background-color: $primaire-vert}
    &:active{background-color: $primaire-vert}
}

/* ==========================================================================
NAVIGATION
========================================================================== */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    height: 100%;
    background-color: transparent;
    //Todo: Ajouter cette classe à toutes les pages qui n'ont pas besoin d\'un menu transparent
    &.full-black{
        background-color: $secondaire-noir;
    }
    @include xs-lg{
        background-color: $secondaire-noir!important;
    }
    @include transition(all 1s ease);
    @include lg {
        height: 100px;
    }

    .navbar-brand {
        svg {
            visibility: visible;
            width: 200px;
            height: 100px;
            #texte_1_ {
                fill: white;
            }
            @include xs-lg {
                visibility: visible!important;
                width: 100px;
                height: 50px;
            }
        }
        &.hide-logo{
            svg {
                visibility: hidden;
            }
        }


    }

    .navbar-toggler {
        border-color: $tertiaire-gris-blanc;
        padding: 10px;
        i {

            @include setup-font($fontAwsome,$tertiaire-gris-blanc);
            @include responsive-font(2.8rem,2.8rem,2.8rem,2.8rem)
        }
    }
    #navbarSupportedContent {
        ul.navbar-nav{
            li.nav-item {
                padding-right: 30px;
                &.active a {
                    color: $primaire-vert;
                }
                a{
                    @include setup-font($sourceSansPro,white,200);
                    @include responsive-font(1.8rem,1.8rem, 1.8rem, 2.4rem, 2.4rem);
                    &:hover {
                        color: $primaire-vert;
                    }
                }

                .dropdown-menu{
                    background-color: $secondaire-noir!important;
                }

                &#login-register-dropdown{
                    .dropdown-menu{
                        left: -50%;
                    }
                }
            }
        }
    }
}


/* ==========================================================================
WELCOME PAGE - SECTION WELCOME
========================================================================== */

#welcome-section {
    @include background-image-opacity("../img/dept-mm.jpg", rgba(32, 49, 60, 0.8));

    .row{
        position: relative;
        z-index: 1;
        flex-direction: row;
        @include xs-md{
            flex-direction: column-reverse;
        }
    }

    #welcome-left-collumn {
        height: 100vh;

        @include xs-md{
            /* Portrait */
            @media screen and (orientation:portrait) {
                height:50vh;
            }
        }

        #logo-welcome{
            display: none;
            @include lg{
                display: block;
            }
            svg {
                //Texte du logo SVG PSM
                #texte_1_ {
                    fill: white;
                }
            }
        }

        #svg-slider-texte {
            overflow: hidden;
           #text-slider-container{
               text-align: left;
               color:#e8e8e8;
               display: flex;

               h3{
                   @include setup-font($lovelo,$primaire-vert, normal);
                   @include responsive-font(3.6rem,2.8rem, 2.8rem, 1.8rem, 1.8rem);
               }

               p{
                   @include setup-font($sourceSansPro,$tertiaire-gris-blanc, normal);
                   @include responsive-font(2.8rem, 2.4rem, 2.4rem, 1.8rem, 1.6rem);
               }
           }
        }

        ul#svg-slider-nav{
            li{
                list-style: none;
                &:first-of-type i, &:last-of-type i{font-size:5rem}
                i {
                    @include setup-font($fontAwsome,$tertiaire-gris-blanc,700);
                    transition-duration: 0.2s;
                    &.inactive { color: $light-grey;}
                    &.inactive:hover {color: $light-grey; cursor: default;}
                    &.selected {color: $primaire-vert;}
                    &:hover {cursor: pointer; color: white;}
                }
            }
        }
    }

    #welcome-right-collumn {
        height: 100vh;
        background-color: rgba(52, 73, 94, 0.5);
        //transition-duration: 0.5s;
        overflow: hidden;

        @include xs-md{
            /* Portrait */
            @media screen and (orientation:portrait) {
                padding-top: 50px;
                height: 50vh;
            }
        }

        #animations_home{
            display: flex;
            height: 100%;
            .svg-container svg{
                width:100%;
                max-height: 100%;
                @media screen and (orientation:landscape) {
                    height: 60%;
                }
            }
        }
    }
}

/* ==========================================================================
WELCOME PAGE - SECTION PRESENTATION
========================================================================== */

#presentation-section {
    overflow: hidden;
    .row {
        position: relative;
        z-index: 1;
    }
    @include xs-md {
        min-height: 100vh;
    }
    @include md{
        height:100vh;
    }
    width: 100%;
    background-color: $secondaire-bleu;

    #presentation-content{
        height: 100%;
        position: relative;
        z-index: 1;

        @include xs-md {
            padding: 30px 0 30px 0;
            min-height: 100vh;
        }
        @include md(){
            height: 50vh;
            flex-direction: row;
        }

        background-color: $tertiaire-gris-blanc;
        #presentation-picture{
            img,svg {
                width: 100%;
                @include md(){
                    position: absolute;
                    margin: auto;
                    left:-75%;
                    top:0;
                    bottom: 0;
                }

                @include md() {
                    width: 150%;
                }
            }
        }

        #presentation-text {

            @include xs-md(){
                justify-content: center !important;
                align-items: center !important;
            }
            h2{
                padding-top: 30px;
                @include setup-font($lovelo, $primaire-vert, 300);
                @include responsive-font(2.4rem,2.4rem,2.4rem,2.4rem,2.4rem)
            }

            p{
                @include setup-font($sourceSansPro, black, 300);
                @include responsive-font(1.6rem,1.6rem,1.6rem,1.6rem,1.6rem,1)
            }
        }
    }

    .losange{
        &:nth-of-type(1) {
            z-index: -1;
            margin:auto;
            top:0;
            left:0;
            bottom: 0;
            right:0;
            height: 200px;
            width: 200px;
            background-color: $primaire-vert;
        }

        &:nth-of-type(2) {
            z-index: -3;
            top:80%;
            left: 5%;
            height: 300px;
            width: 300px;
            background-color: $secondaire-noir;
        }
        &:nth-of-type(3) {
            z-index: -2;
            top:20%;
            left: 20%;
            height: 150px;
            width: 150px;
            background-color: $primaire-vert;
        }

        &:nth-of-type(4) {
            z-index: -4;
            top:-10%;
            right: 2%;
            height: 150px;
            width: 150px;
            background-color: $secondaire-noir;
        }

        position: absolute;
        transform: rotate(-45deg);
    }
}

/* ==========================================================================
WELCOME PAGE - SECTION FORMATIONS
========================================================================== */

#formations-section{
    height: 100vh;
    .formations {
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;

        @include xs{
            flex-direction: column;
        }

        @include md{
            flex-direction: row;
        }

        .formation {

            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            justify-content: center;
            align-items: center;

            text-align: center;
            background-color: #ccc;
            min-width: 10%;
            -webkit-transition: 0.5s;
            transition: 0.5s;

            &:nth-child(1) {
                @include background-image-opacity("../img/1.jpg", rgba(52, 73, 94, 0.8));
            }

            &:nth-child(2) {
                @include background-image-opacity("../img/2.jpg", rgba(32, 49, 60, 0.8));
            }

            &:nth-child(3) {
                @include background-image-opacity("../img/3.jpg", rgba(141, 188, 31, 0.8));
            }

            @include md{
                &:hover {
                    -webkit-box-flex: 2;
                    -ms-flex-positive: 2;
                    flex-grow: 3;

                    .filter::after{
                        background-color:transparent;
                    }
                }

            }

            .filter.activeScroll{
                &:after{
                    background-color:transparent;
                }
            }

            .filter:after{
                @include transition(all 1s ease);
            }

            h2, h2 > span.writing-letter>span{
                position: relative;
                z-index: 1;
                @include setup-font($lovelo, white, normal);
                @include responsive-font(5rem,5rem,5rem,5rem,5rem);

                span.writing-letter>span{
                    display:inline-block;
                }
            }
        }
    }
}

/* ==========================================================================
Page Formation
========================================================================== */

// Section Programmes
.programme {
    height: 100vh;
    margin-bottom: 60px !important;

    //Programmes Header
    &-header {
        height: 300px;
        background-color: $secondaire-noir;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            color: white;
            font-size: 60px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 20px;
        }

        h3 {
            font-size: 30px;
            text-transform: uppercase;
            color: $primaire-vert;
        }
    }
    //Programmes Content
    &-content {
        //Losanges
        #losanges-formation {
            transform: rotate(-45deg);
            position: relative;
            margin-top: 100px;
            height: 200px;
            width: 200px;

            .losange {
                box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
                height: 100%;
                width: 100%;
                position: absolute;
                transition-duration: 0.5s;
                color: white;
                background-color: $secondaire-bleu;
                line-height: 200px;
            }

            div.losange {
                &:nth-child(1) {
                    top: -55%;
                    left: 55%;
                }
                &:nth-child(2) {
                    top: 55%;
                    left: 55%;
                }
                &:nth-child(3) {
                    top: 55%;
                    left: -55%;
                }
                &:nth-child(4) {
                    top: -55%;
                    left: -55%;
                }
                &:hover {
                    z-index: 100;
                    cursor: pointer;
                    background-color: $primaire-vert;
                }
                &.active {
                    z-index: 100;
                    /*transform: scale(1.3);*/
                    background-color: $primaire-vert;
                }
            }

            .losange p {
                transform: rotate(45deg);
                display: block;
                text-align: center;
                transition: 0.5s ease;
            }
        }

        //Accordion
        #accordion {
            [data-toggle="collapse"] {
                i:before {
                    content: "\f077";
                }
                &.collapsed i:before {
                    content: "\f078";
                }
            }
        }
    }
}



//Exemple d'include de media queries
/*@include xs {
    html {
        display: none;
    }
}*/
