/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    font-size: 62.5%;
}

body{
    // background-color: #17232d;
    margin:0;
}

h1,h2,h3,h4{
    text-transform: uppercase;
}

.row {
    margin-right: 0!important;
    margin-left: 0!important;
    height: 100%;
}

.no-padding{
    padding-left: 0!important;
    padding-right: 0!important;
}
a{
    color:$secondaire-bleu;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
    color:$primaire-vert;
}


b{
    font-family: $sourceSansPro;
    font-weight: 600;
}
.show {
    display: inline;
}
.hidden {
    display: none !important;
}

.transparent {
    visibility: hidden;
}

.bg-black {
    background-color: $secondaire-noir!important;
}

.btn{
    @include setup-font($sourceSansPro, inherit, 300);
    @include responsive-font(0,2.1rem);
    min-width: 200px;
    text-transform: uppercase;
    border-radius: 0!important;
    padding: 10px 10px 10px 10px;
    margin: 15px 0 15px 0;
    &.btn-psm {
        color: #ffffff;
        background-color: $secondaire-bleu;
        &:hover{background-color: $primaire-vert;cursor: pointer}
        &:active{background-color: $primaire-vert}
    }

    &.btn-psm-white {
        color: #000000;
        background-color: $tertiaire-gris-blanc;
        &:hover{background-color: $primaire-vert;color:#ffffff;cursor: pointer}
        &:active{background-color: $primaire-vert}
    }

    &.btn-transparent{
        color: #ffffff;
        border: 1px solid white;
        background-color: transparent;
        &:hover{background-color: white;color:black!important;cursor: pointer}
        &:active{background-color: white;color:black;}
    }
}

//Mouse icon telling too scroll
.mouse {
    position: absolute;
    z-index: 10;
    width: 22px;
    height: 42px;
    bottom: 40px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid #fff;
    -webkit-animation: intro 1s;
    animation: intro 1s;
}
.scroll {
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 4px;
    background: #fff;
    -webkit-animation: finger 1s infinite;
    animation: finger 1s infinite;
}
@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

//Swipe icon
.swipe-icon {
    position: absolute;
    z-index: 10;
    overflow:visible!important;
    width:36px;
    height:60px;
    bottom: 50px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
}

.swipe-icon .swipe-arrow {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    animation: pulse-arrow 2s ease-out infinite;
}

.swipe-icon {
    animation: hand-move 2s ease-out infinite;
}

@keyframes pulse-arrow {
    0%   {transform: translateX(0); opacity:1;}
    50%  {transform: translateX(0.25em);opacity:1;}
    75% {transform: translateX(0.25em);opacity:0;}
    100% {transform: translateX(0);opacity:0;}
}

@keyframes hand-move {
    0%   {transform: translateX(0);}
    50%  {transform: translateX(0.5em);}
    100% {transform: translateX(0);}
}

.container-fluid{
    background-color: $secondaire-noir;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#main-nav {
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;

    .burger {
        @include lg {display: none}
        z-index: 1031;
        position: fixed;
        right:0;
        top:0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;

        #sidebar-toggle {
            display: block;
            position: relative;
            padding: 20px;
            float: left;
            background-color: $secondaire-bleu;
            span.bar{
                display: block;
                width: 30px;
                margin-bottom: 6px;
                height: 2px;
                background-color: #f0f0f0;
                border-radius: 1px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    #sidebar {
        position: fixed;
        z-index: 1029;
        right:-100vw;
        top:0;
        height: 100vh;
        width: 100vw;
        background-color: $secondaire-bleu;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        @include transition(all 0.4s ease);

        @include xs-lg{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        @include lg{
            right:0;
            height: 100px;
            width: 100vw;
            background-color: $secondaire-noir;

            display: flex;
            justify-content: space-between;
        }

        #logo-psm-nav {
            height: 100px;
            //opacity: 1;
            @include transition(all 1s ease);

            svg,object,img {
                padding: 5px;
                max-height: 100%;
                width: 100%;
            }
        }

        &.is-home{
            @include lg {
                &.dark-menu{
                    background-color: $secondaire-noir;
                }
                background-color: transparent;
                #logo-psm-nav {
                    opacity: 0;
                }
            }

            #logo-psm-nav{
                &.show-logo {
                    opacity: 1;
                    @include lg{
                        opacity: 1;
                    }
                }
            }

        }



        &.open-sidebar{
            right: 0!important;
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            @include xs{
                width: 100%;
                //height: 100%;

                justify-content: center;
                align-items: center;
                flex-direction: column;

                margin:  0;
                padding: 0;
            }


            @include lg{
                justify-content: space-around;
                flex-direction: row;
            }

            @include xl{
                width: 50vw;
            }

            li{
                display: inline-block;

                a,p{
                    @include setup-font($sourceSansPro, white, normal);
                    @include responsive-font(1,1.8rem, 1.8rem, 3rem, 2.5rem, 2.5rem);
                    text-transform: uppercase;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    list-style: none;
                    margin: 0;

                    &.active, &:hover {
                        color: $primaire-vert;
                    }
                }

                i{
                    @include responsive-font(0,1.8rem, 1.8rem, 3rem, 2.5rem, 2rem);
                    color: white;
                    text-align: center;
                }

                &:focus{
                    color: $primaire-vert;
                }

                &:hover{
                    cursor: pointer;

                    i{
                        color: $primaire-vert;
                    }
                }


                &.dropdown{
                    @include lg{
                        position: relative;
                    }

                    p, p>i,i{
                        display:none;
                        @include lg{
                            display: inline;
                        }
                    }

                    .dropdown-content{
                        @include lg{
                            transform: scaleY(0);
                            transition:all 1s ease;
                            opacity:0;
                            height: auto;
                            top:0;
                            position: absolute;
                            border: solid 1px white;
                            right:0;
                            width: 200px;
                        }

                        background-color: $secondaire-bleu;
                        a{
                            padding: 2.5px 0 2.5px 0;
                        }
                    }
                    .open-dropdown{
                        transform: scaleY(1);
                        height:auto;
                        opacity:1;
                        top:59px;
                        display: inline!important;
                    }
                }
            }
        }

        &.dark-menu ul .dropdown .open-dropdown{
            border: none;
            background-color: $secondaire-noir;
        }
    }
}