/* ==========================================================================
Fonts
========================================================================== */
@font-face {
    font-family: Lovelo;
    src: url(../fonts/Lovelo-black.otf);
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i');



